body{
  margin: 0;
}

.navbar{
  height: 100px;
  background-color: brown;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myInfo{
  width: 80px;
  background-color: yellow;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list{
  width: 80px;
  background-color: gold;
  color: orangered;
  align-items: right;
  text-align: center;
}

.footerbar{
  width: auto;
  background-color: grey;
  color: aliceblue;
  align-content: center;
  align-items: center;
}